.forgot-password-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  transition: color 0.3s ease;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.forgot-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.forgot-password-container button:hover {
  background-color: #0056b3;
}

.forgot-password-container button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.forgot-password-container .error {
  color: #e74c3c;
  text-align: center;
}


.forgot-password-container.dark {
  background-color: #2b2b2b;
  color: #f4f4f4;
}

.forgot-password-container.dark h2 {
  color: #f4f4f4;
}

.forgot-password-container.dark input {
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

.forgot-password-container.dark button {
  background-color: #555;
}

.forgot-password-container.dark button:hover {
  background-color: #333;
}

.back-to-login-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password-container.dark .back-to-login-link {
  color: #ffffff;
}
